html {
  font-size: 16px;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
  }

  .label {
    color: #FFF;
    font-family: sans-serif;
    padding: 1px;
    background: rgba( 0, 0, 0, .6 );
    font-size: 4px;
    border-radius: 1px;
    pointer-events: none;
    touch-action: none;
  }

  .vertex {
    font-size: 6px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  #labelRenderer {
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
  }
  
  .hidden {
    color: transparent !important;
    background-color: transparent !important;
  }